<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382198804213-1t6ic7tmqqo2jfmgsn8da2m2gtkddr9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382198804213-1t6ic7tmqqo2jfmgsn8da2m2gtkddr9l</string>
	<key>API_KEY</key>
	<string>AIzaSyBkM5JvadIU2IIAygQaDYUjjpHBKPhfUhc</string>
	<key>GCM_SENDER_ID</key>
	<string>382198804213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.overlay0110.appbase3</string>
	<key>PROJECT_ID</key>
	<string>appbase3</string>
	<key>STORAGE_BUCKET</key>
	<string>appbase3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382198804213:ios:baaf98243ee82704505fbc</string>
</dict>
</plist>